<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>图片文字btn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F8B111791F6F5CEA006EF340</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8B111921F6F5CEA006EF340</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8B1119D1F6F5CEA006EF340</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
